/* 头部 */

.header {
    width: 100%;
    height: 60px;
    color: #fff;
    line-height: 60px;
    text-align: center;
}

.header .hl {
    float: left;
    width: 70%;
    height: 100%;
    background-color: #232326;
}

.header .hl div {
    float: left;
}

.header .hl .img_logo {
    margin-top: 10px;
}

.header .hl_hd {
    text-align: left;
    line-height: 0px;
}

.header .hl_hd h6 {
    font-weight: 500;
    margin-bottom: 17px;
}

.header .hl_hd p {
    color: #999;
    font-size: 10px;
}

.header .hr {
    float: left;
    width: 30%;
    height: 100%;
    background-color: #c82519;
}

.nav {
    position: sticky;
    top: 0px;
    background-color: #e43130;
}

.nav div:nth-child(1),
.nav div:nth-child(3) {
    float: left;
    width: 10%;
    height: 70px;
    text-align: center;
    line-height: 70px;
}

.nav div:nth-child(2) {
    float: left;
    margin-top: 10px;
    width: 80%;
    height: 50px;
    overflow: hidden;
    background-color: #f7f7f7;
    border-radius: 50px;
}

.nav div:nth-child(3) {
    float: left;
    width: 10%;
    height: 70px;
}